.main_content {
    margin-top: 70px;
    margin-bottom: 33px;
}
.margin-t8p {
    margin-top: 8px!important;
}
.margin-l8p {
    margin-left: 8px!important;
}
.font-s12p {
    font-size: 12px!important;
}

.form-paging ul{
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.form-paging ul li {
    float: left;
}